# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# Pytest cache
.pytest_cache/

# OS / Editor
.DS_Store
Thumbs.db
.vscode/

# SQLite (if you later use file-based DBs)
*.db

